<h2 class="title">Value of Money: Meaning, Measurement and Preparation of Index Numbers</h2>
<div class="wrapper">
   <figure class="content-01">
      <img src="../img/img-3.jpg" alt="The value of money" /> 
      <figcaption>The value of money</figcaption>
   </figure>
   <p>
      “The yard measures distance”, said the teacher. “But what measures the yard?” was the question. “Well”, came the reply, “distance itself’.
      Similarly money measures “goods”. But what measures money?
      “Goods” is the reply. Value, as we know, is the ratio of exchange between two goods, and money measures that value through price. Money is an object of desire. Efforts are made to obtain it not for its own sake but for the goods it can purchase.
      The value of money, then, is the quantity of goods in general that will be exchanged for one unit of money. The value of money is its purchasing power, i.e., the quantity of goods and services it can purchase. What money can buy depends on the level of prices. When the price level rises, a unit of money can purchase less goods than before. Money is then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can buy more than before.
      Money is then said to appreciate. The “general level of prices” and the value of money are thus the same thing from two opposite angles. When the prices rise the value of money falls and vice versa. In other words, the value of money and the general price level are inversely proportion­s’ to each other. Violent changes in the value of money (or the price level) disturb economic life and do great harm. We must, therefore, carefully study the factors which’ determine the value of money.
      Suppose we have found by measurement that a room is four metres long. Measuring it again next day we are surprised to see that the same room is five metres in length. How could the room stretch itself by a metre overnight? Was some partition knocked out or an extension added during the night? Or is it that our metre measure has grown shorter by 2 centimeters? Which out of these is the correct answer? In the same way, if a rupee can buy one kg of wheat today but purchases only half a kg tomorrow, we are greatly perplexed.
      We feel disgusted with our food-measure, the rupee, which has shrunk to half its length. We want to know what has happened. We are told “the value of money has changed.” Exactly this is what has happened in India. There are many times more rupee notes circulating in the country now than previously, while the number of goods has not increased to that extent. Hence a rupee buys less.
   </p>
</div>

<hr class="divider">
<h2 class="title">Measurement of Changes in the Value of Money</h2>
<div class="wrapper">
   <figure class="content-01">
      <img src="../img/img-1.jpg" alt="Fishing for money" /> 
      <figcaption>Fishing for money</figcaption>
   </figure>
   <p>
      Changes in prices are not uniform. Some prices rise, others fall; while still others remain stationary. They are like bees dashing out of a hive higgledy-higgledy, some buzzing off this way, some that way, while others keep hovering at the spot. But there may be a trend in a particular direction. A comparison of price changes would give a very confusing picture. We have to discover the extent of the overall changes in the value of money before suggesting a remedy. The seriousness of the disease must be known before a remedy can be suggested.
   </p>
</div>

<hr class="divider">
<h2 class="title">Index Numbers</h2>
<div class="wrapper">
   <figure class="content-01">
      <img src="../img/img-2.jpg" alt="The value of money" /> 
      <figcaption>The value of money</figcaption>
   </figure>
   <p>
      The device of index numbers comes to our aid in measuring changes in the value of money or price level. An index number is a statement in the form of a table which represents a change in the general price level. Index numbers have great importance in these days. When it is desired to find out to what extent prices have risen or fallen, an index number is prepared. In every advanced country, index numbers are being regularly prepared officially by the governments and also non-officially by other bodies interested in economic changes.
   </p>
</div>



