<h2>The value Of Money</h2>
<div class="thumbnail-t">
<figure>
   <img src="img/img-1.jpg" alt="Fishing for money" /> 
   <figcaption>Fishing for money</figcaption>
</figure>
<figure>
   <img src="img/img-2.jpg" alt="The value of money" /> 
   <figcaption>The value of money</figcaption>
</figure>
<figure>
   <img src="img/img-3.jpg" alt="The value of money" /> 
   <figcaption>The value of money</figcaption>
</figure>
<figure>
   <img src="img/img-4.jpg" alt="Money Man" /> 
   <figcaption>Money Man</figcaption>
</figure>
<figure>
   <img src="img/img-5.jpg" alt="More Money" /> 
   <figcaption>More Money</figcaption>
</figure>
<figure>
   <img src="img/img-6.jpg" alt="Money Trap" /> 
   <figcaption>Money Trap</figcaption>
</figure>
</div>
